
#table-user {
  table-layout: fixed;
}

.active {
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-update {
  margin-top: 5px;
}

.btn-update {
  margin-top: 10px;
}

/* tasks_index */
#task-name {
  font-size: 1.8rem;
}